:root {
    --background: #03045e;
    --backgroundBox: #0077b6;
    --mainText: #90e0ef;
    --bodyText: #caf0f8;
}

body {
    background-color: var(--background);
    color: var(--mainText);
}

h1 {
    text-align: center;
    padding: 10px;
}

.row {
    padding: 25px;
}

.col {
    text-align: center;
    background-color: var(--backgroundBox);
    color: var(--bodyText);
    border: 25px solid var(--backgroundBox);
}